.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  background-color: #f9f9f9;
  height: 10vh;
}

.dark {
  background-color: #313131;
}

.navbar-options-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dark-light-theme {
  height: 30px;
  margin: 0 12px;
  cursor: pointer;
}
.profile-image {
  height: 30px;
  margin: 0 12px;
  cursor: pointer;
}
.logout-button {
  color: #3b82f6;
  border: 1px solid #3b82f6;
  background-color: transparent;
  margin: 0 12px;
  padding: 6px;
  width: 80px;
  outline: none;
  cursor: pointer;
}

.light {
  color: #fff;
  border: 1px solid #fff;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #7c69e9;
  border: none;
  border-radius: 4px;
  outline: none;
}
/* -content */

.popup-content {
  width: 25%;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}

.dark-popup {
  background-color: #383838;
}

.confirm-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.cancel-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #313131;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: transparent;
  border: 1px solid #313131;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  color: #fff;
}

.white-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #fff;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.theme-button {
  background-color: transparent;
  outline: none;
  border: none;
}
